<div class="user-details">
    <mat-list>
        <mat-list-item class="u-text-align-center">
            <span class="text-bold">Detalhes do utilizador</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="text-bold">Nome:&nbsp;</span><span>fulano da silva</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="text-bold">Email:&nbsp;</span><span>user@gmail.com</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="text-bold">Telefone:&nbsp;</span><span>(+244)998558745</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="text-bold">Endereço:&nbsp;</span>
            <span>Rua 1 Nº 23, Bairro X, Cidade Y
            </span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="text-bold">Ativo:&nbsp;</span><span>Sim</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="text-bold">Função:&nbsp;</span><span>Desenvolvedor Backend</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="text-bold">Data de cadastro:&nbsp;</span><span>11-11-2025</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>
