<div class="user-details">
    <mat-list>
        <mat-list-item class="u-text-align-center">
            <span class="text-bold">Detalhes do utilizador</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="text-bold">Nome:&nbsp;</span><span>{{ user.nome }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="text-bold">Email:&nbsp;</span><span>{{ user.email }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="text-bold">Telefone:&nbsp;</span><span> {{ user.telefone | phone }} </span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="text-bold">Endereço:&nbsp;</span>
            <span>{{ user.endereco | address}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="text-bold">Ativo:&nbsp;</span><span>{{ user.ativo | active}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="text-bold">Função:&nbsp;</span><span>{{ user.funcao }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="text-bold">Data de cadastro:&nbsp;</span><span>{{ user.dataCadastro }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>
