.filter{
    width: 100%;
    height: 100%;
    form{
        padding-top: 2rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        justify-content: space-around;
        &__name{}
        &__date-picker{}
        &__status{}
        &__button{}
    }
}