<div class="filter">
    <form>
        <div class="form__name">
            <mat-form-field>
                <mat-label>Nome do utilizador</mat-label>
                <input matInput placeholder="Nome do utilizador" value="" name="filterText" [(ngModel)]="filter.name" />
            </mat-form-field>
        </div>

        <div class="form__date-picker">
            <mat-form-field>
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate name="startDate" [(ngModel)]="filter.startDate" placeholder="Start date">
                    <input matEndDate name="endDate" [(ngModel)]="filter.endDate" placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
        <div class="form__status">
            <mat-form-field>
                <mat-label>Select an option</mat-label>
                <mat-select [(value)]="selectedStatus" name="status" >
                    @for (options of statusOptions; track $index) {
                        <mat-option [value]="options.value">{{options.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <p>You selected: {{selectedStatus}}</p>
        </div>
        <div class="form__button">
            <button (click)="onSubmit()" matButton="filled">Filtrar</button>
        </div>
    </form>
</div>