<div class="user-list">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- nome -->
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome. </th>
            <td class="cell-option" mat-cell *matCellDef="let element" (click)="onSelectUser(element)" > {{element.nome}} </td>
        </ng-container>

        <!-- data de cadastro -->
        <ng-container matColumnDef="dataCadastro">
            <th mat-header-cell *matHeaderCellDef> Data de cadastro </th>
            <td class="cell-option" mat-cell *matCellDef="let element"> {{element.dataCadastro}} </td>
        </ng-container>

        <!-- ativo -->
        <ng-container matColumnDef="ativo">
            <th mat-header-cell *matHeaderCellDef> ativo</th>
            <td class="cell-option" mat-cell *matCellDef="let element"> {{element.ativo}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>